<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.porkandspoon.dao.AlarmDAO">
	
	<insert id="savaAlarm" parameterType="kr.co.porkandspoon.dto.NoticeDTO">
		INSERT INTO notice(username, code_name, subject, content, from_id, from_idx, url, create_date) VALUES(#{username}, #{code_name}, #{subject}, #{content}, #{from_id}, #{from_idx}, #{url}, #{create_date})
	</insert>
	
	<select id="getUsername" resultType="String">
		SELECT name FROM user WHERE username = #{username}
	</select>
	
	<select id="getAlarm" parameterType="String" resultType="kr.co.porkandspoon.dto.NoticeDTO">
	    SELECT * 
	    FROM notice 
	    WHERE username = #{username} AND is_confirm = 'N'
	</select>

	<update id="updateConfirm" parameterType="int">
	    UPDATE notice
	    SET is_confirm = 'Y', check_date = NOW()
	    WHERE alarm_idx = #{alarm_idx}
	</update>
	
	<select id="getBoardUS" resultType="kr.co.porkandspoon.dto.BoardDTO">
		SELECT 
		    fb.subject, 
		    br.username 
		FROM 
		    board_review br
		INNER JOIN 
		    free_board fb ON fb.board_idx = br.board_idx
		WHERE 
		    br.review_idx = #{from_idx} 
		AND 
		    br.board_idx = #{board_idx}
		AND 
		    fb.board_idx = #{board_idx}
	</select>
	
	<select id="getAlarmList" resultType="kr.co.porkandspoon.dto.NoticeDTO">
		SELECT * 
	    FROM notice 
	    WHERE username = #{username}
	      AND code_name != 'ml010' 
	    ORDER BY create_date DESC
	</select>
	
	<select id="getChatList" resultType="kr.co.porkandspoon.dto.NoticeDTO">
		SELECT * 
	    FROM notice 
	    WHERE username = #{username}
	      AND code_name = 'ml010' 
	    ORDER BY create_date DESC
	</select>
	
	<select id="getDraftLine" resultType="kr.co.porkandspoon.dto.ApprovalDTO">
		SELECT * FROM approval_line WHERE username = #{username} AND draft_idx = #{from_idx}
	</select>
	
	<select id="getDraft" resultType="kr.co.porkandspoon.dto.ApprovalDTO">
		SELECT 
	        al.*,
	        d.username AS user_name,
	        d.subject
	    FROM 
	        approval_line al
	    JOIN 
	        draft d
	    ON 
	        al.draft_idx = d.draft_idx
	    WHERE 
	        al.draft_idx = #{draft_idx} 
	        AND al.order_num = #{order_num}
	</select>
	
	<select id="getRoomUser" resultType="kr.co.porkandspoon.dto.NoticeDTO">
		SELECT 
	        rs.no, 
	        rs.username AS from_id, 
	        r.room_name AS subject
	    FROM 
	        room_schedule rs
	    JOIN 
	        room r 
	        ON rs.no = r.no
	    WHERE 
	        rs.idx = #{from_idx}
	</select>
	
	<!-- 알림 리스트에서 url 이동, x 행동 시 -->
	<update id="setUpdateUrl">
		UPDATE notice SET is_url = 'Y' WHERE alarm_idx = #{alarm_idx}
	</update>
	
	<select id="getEdu" resultType="kr.co.porkandspoon.dto.NoticeDTO">
	    SELECT 
	        e.no AS from_idx,                   
	        e.subject AS subject,             
	        e.username AS from_id,            
	        u.username AS username           
	    FROM education e
	    LEFT JOIN direct_store ds 
	        ON e.id = ds.parent
	    LEFT JOIN user u
	        ON ds.id = u.parent
	        AND u.position = 'po7'
	    WHERE e.url = #{content}
	</select>
	
	<select id="getChat" resultType="kr.co.porkandspoon.dto.NoticeDTO">
		SELECT 
	        cr.name AS subject,
	        cu.username AS username
	    FROM 
	        chat_room cr
	    JOIN 
	        chat_room_user cu 
	    ON 
	        cr.roomId = #{subject}
	        AND cu.roomId = #{subject}
	</select>
	
	<select id="getAlarmrow" resultType="int">
		 SELECT 
	        COUNT(*)
	    FROM 
	        notice
	    WHERE 
	        username = #{username}
	        AND is_url = 'N'
	        AND code_name != 'ml010'
	</select>
	
	<select id="getChatrow" resultType="int">
		 SELECT 
	        COUNT(*)
	    FROM 
	        notice
	    WHERE 
	        username = #{username}
	        AND is_url = 'N'
	        AND code_name = 'ml010'
	</select>
	
</mapper>