<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.porkandspoon.dao.BoardDAO">
	
	<insert id="setBoardwrite" parameterType="map">
	    INSERT INTO free_board (
	        username,   
	        subject,  
	        content,
	        use_yn,
	        department
	    )
	    VALUES (
	        #{username},
	        #{subject}, 
	        #{content}, 
	        #{use_yn},  
	        #{department}
	    )
	</insert>
	
	<insert id="setBoardfiles" parameterType="list">
	    INSERT INTO file (
	        code_name,
	        ori_filename,
	        new_filename,
	        type,
	        pk_idx
	    )
	    VALUES
	    <foreach collection="list" item="file" separator=",">
	        (
	            #{file.code_name},
	            #{file.ori_filename},
	            #{file.new_filename},
	            #{file.type},
	            #{file.pk_idx}
	        )
	    </foreach>
	</insert>
<select id="getBoardList" resultType="map">
    SELECT 
        board_idx,
        username,
        subject,
        content,
        count,
        create_date,
        board_state,
        use_yn,
        board_notice,
        updater,
        update_date,  -- 예약어 처리
        department
    FROM 
        free_board
    WHERE
        <choose>
            <when test="option == 'title'">
                subject LIKE CONCAT('%', #{search}, '%')
            </when>
            <when test="option == 'username'">
                username LIKE CONCAT('%', #{search}, '%')
            </when>
            <when test="option == 'department'">
                department LIKE CONCAT('%', #{search}, '%')
            </when>
            <otherwise>
                1=1  <!-- 기본적으로 다른 컬럼을 검색하지 않도록 처리 -->
            </otherwise>
        </choose>
    ORDER BY create_date DESC
    LIMIT #{offset}, #{cnt}
</select>

<select id="getBoardCount" resultType="int">
    SELECT
        COUNT(*)
    FROM
        free_board
    WHERE
        <choose>
            <when test="option == 'title'">
                subject LIKE CONCAT('%', #{search}, '%')
            </when>
            <when test="option == 'username'">
                username LIKE CONCAT('%', #{search}, '%')
            </when>
            <when test="option == 'department'">
                department LIKE CONCAT('%', #{search}, '%')
            </when>
            <otherwise>
                1=1  <!-- 기본적으로 다른 컬럼을 검색하지 않도록 처리 -->
            </otherwise>
        </choose>
</select>
	
</mapper>