<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.porkandspoon.dao.EducationDAO">
	
	<!-- 부서 정보 -->
	<select id="dept" resultType="kr.co.porkandspoon.dto.DeptDTO">
		SELECT * FROM department WHERE id LIKE '%BD%' AND use_yn ='Y'
	</select>
	
	<!-- 교육 등록 -->
	<insert id="educationWrite" parameterType="map">
		INSERT INTO education(category,subject,content,url,username,id,total_time)
							  VALUES(#{category},#{subject},#{content},#{url},#{username},#{id},#{total_time})
	</insert>
	
	<!-- 교육 리스트 -->
	<select id="educationList" parameterType="map" resultType="kr.co.porkandspoon.dto.EducationDTO">
		SELECT 
            e.*, 
            d.text,
            d.id, 
            COUNT(*) OVER() AS total_count
        FROM education e
        JOIN department d ON e.id = d.id
        ORDER BY e.no DESC
        LIMIT #{limit} 
        OFFSET #{offset}
	</select>
	
	<!-- 교육 상세보기 -->
	<select id="detail" resultType="kr.co.porkandspoon.dto.EducationDTO">
		SELECT e.*,u.name,d.`text` FROM education e JOIN user u ON e.username = u.username JOIN  department d ON e.id = d.id 
		WHERE no=#{no}
	</select>
	
	<!-- 교육 수정 -->
	<update id="educationUpdate" parameterType="map">
		UPDATE education SET 
			category=#{category},
			subject=#{subject},
			content=#{content},
			url=#{url},
			updater=#{username},
			id=#{id},
			total_time=#{total_time}
		WHERE no=#{no}	
	</update>
	
	 <!-- 교육 이수 기록 삽입 -->
    <insert id="educationHistory">
        INSERT INTO education_history(no, username)
       									 VALUES(#{no}, #{username})
    </insert>
    
    <!-- 특정 사용자와 교육 번호에 대한 이수 기록 수 조회 -->
    <select id="history" resultType="int">
        SELECT COUNT(*) FROM education_history WHERE no = #{no} AND username = #{username}
    </select>
    
    <!-- 교육 삭제 -->
	<delete id="eduDelete">
		DELETE FROM education WHERE no=#{no}
	</delete>
	
	<!-- 교육 이력 리스트 -->
	<select id="historyList" parameterType="map" resultType="kr.co.porkandspoon.dto.EducationDTO">
		SELECT 
		    ds.parent,
		    ds.name AS dept_name,
		    u.name,
		    eh.education_date,
		    e2.`no`
		FROM direct_store ds 
		LEFT JOIN `user` u 
		    ON ds.owner = u.username 
		LEFT JOIN education_history eh 
		    ON ds.owner = eh.username 
		    AND eh.`no` = #{no}
		LEFT JOIN education e2 
		    ON eh.`no` = e2.`no` 
		WHERE ds.parent = #{id}
	</select>
	
	
	
	
</mapper>