<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.porkandspoon.dao.MailDAO">
	<select id="getUserList" resultType="map">
		<![CDATA[
		SELECT 
			u.username
			,CONCAT(
				u.name
				, '/'
				, c.content
				, '/'
				, IFNULL(d.text, '미발령')
				, ' <'
				, u.username
				, '>') 
				AS text
		FROM 
			user u
		JOIN code c ON u.`position` = c.name 
		LEFT JOIN department d ON u.parent = d.id;
		]]>
	</select>
	
	<insert id="saveMail" parameterType="kr.co.porkandspoon.dto.MailDTO">
		INSERT INTO mail (
			sender
			,send_status
			 <if test="idx != null">
			 	,idx
			 </if>
			 <if test="title != null">
			 	,title
			 </if>
			 <if test="content != null">
			 	,content
			 </if>
			)
		VALUES (
			#{sender}
			,#{send_status}
			<if test="idx != null">
				,#{idx}
			</if>	
			<if test="title != null">
				,#{title}
			</if>	
			<if test="content != null">
				,#{content}
			</if>	
		)
		ON DUPLICATE KEY UPDATE
			send_status = VALUES(send_status),
			title = VALUES(title),
			content = VALUES(content)
	</insert>
	
	<delete id="removeMailReceiver">
		DELETE 
			FROM mail_receive
		WHERE 
			idx = #{mailIdx}
	</delete>

	<insert id="saveMailReceiver" parameterType="String">
		INSERT 
			INTO mail_receive (idx, username)
		VALUES
		<foreach collection="username" item="user" separator=",">
			(#{mailIdx}, #{user})
		</foreach>
	</insert>
	
	<select id="getmailIdx" resultType="String">
		SELECT 
			IFNULL(MAX(idx),0) + 1 
		FROM 
			mail
	</select>
	
	<select id="checkExistingFile" resultType="int">
		SELECT COUNT(*) FROM file
			WHERE code_name = 'ma001' 
			AND pk_idx = #{mailIdx}
			AND ori_filename = #{ori_filename}
	</select>
	
	<insert id="fileSave" parameterType="kr.co.porkandspoon.dto.FileDTO">
		INSERT INTO file 
			(code_name, ori_filename, new_filename, type, pk_idx)
		VALUES 
			(#{code_name}, #{ori_filename}, #{new_filename}, #{type}, #{pk_idx})
	</insert>
	
	<select id="getMailInfo" resultType="kr.co.porkandspoon.dto.MailDTO">
		<![CDATA[
		SELECT 
			m.*
			,u.name
			,c.content AS position_name
			,d.text AS dept_name
			,(SELECT 
				GROUP_CONCAT(
					u.name
					,'/'
					,c.content
					,'/'
					,IFNULL(d.`text`,'미발령')
					,' <'
					,mr.username
					,'>'
				)
			FROM 
				mail_receive mr
			LEFT JOIN 
				user u 
				ON mr.username = u.username 
			LEFT JOIN 
				department d 
				ON u.parent = d.id 
			LEFT JOIN 
				code c 
				ON u.position = c.name 
			WHERE mr.idx = #{idx}
			) AS username
		FROM 
			mail m 
		LEFT JOIN 
				user u 
				ON m.sender = u.username 
		LEFT JOIN 
			department d 
			ON u.parent = d.id 
		LEFT JOIN 
			code c 
			ON u.position = c.name 
		WHERE 
			m.idx = #{idx}
		]]>
	</select>
	
<!-- 	<select id="getMailInfo" resultType="kr.co.porkandspoon.dto.MailDTO">
		SELECT 
			m.*
			,mr.username 
		FROM 
			mail m 
		LEFT JOIN 
			mail_receive mr 
			ON m.idx = mr.idx 
		WHERE 
			m.idx = #{idx}
	</select> -->
	
	<select id="isBookmarked" resultType="int">
		SELECT 
			COUNT(idx) 
		FROM 
			mail_bookmark 
		WHERE 
			idx = #{idx} 
			AND 
			username = #{loginId}
	</select>
	
	<delete id="deleteBookmark" parameterType="map">
		DELETE 
			FROM mail_bookmark
		WHERE 
			idx = #{idx} 
			AND 
			username = #{username}
	</delete>
	
	<insert id="setBookmark" parameterType="map">
		INSERT 
			INTO mail_bookmark
		(idx, username)
		VALUES ( 
			#{idx}
			,#{username}
		) 
	</insert>
	
	<select id="getAttachedFiles" parameterType="String" resultType="kr.co.porkandspoon.dto.FileDTO">
		SELECT ori_filename, new_filename, type FROM file 
			WHERE code_name = 'ma001' 
			AND pk_idx = #{idx}
	</select>
	
	<select id="getSendList" parameterType="map" resultType="kr.co.porkandspoon.dto.MailDTO">
		SELECT m.idx
			,m.title
			,m.is_bookmark
			,m.send_date
			,(SELECT 
					MIN(idx) 
				FROM 
					file 
				WHERE 
					pk_idx = m.idx 
				AND 
					code_name = 'ma001'
			) AS fileYn
			,(SELECT 
					MIN(username) 
				FROM 
					mail_receive mr 
				WHERE 
					m.idx = mr.idx 
				GROUP BY idx
			) AS username
			, u.name
			,COUNT(*) OVER() AS total_count
		FROM 
			mail m
		JOIN user u 
			ON m.username = u.username
		WHERE 
			sender = 'smpark'
		AND
			m.send_status = 'sd'
		<if test="search != null and !search.equals('') and option == 'subject'"> 
			AND d.subject LIKE CONCAT('%',#{search},'%')		
		</if>
		ORDER BY m.idx DESC
		LIMIT #{limit} 
		OFFSET #{offset}	
	</select>
	
</mapper>