<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.porkandspoon.dao.MainDAO">
	<select id="getMenu" resultType="map">
		SELECT 
		    m1.menu_idx AS depth1_idx,
		    m1.menu_name AS depth1_name,
		    m1.url AS depth1_url,
		    m1.role AS depth1_role,
		    m2.menu_idx AS depth2_idx,
		    m2.menu_name AS depth2_name,
		    m2.url AS depth2_url,
		    m2.role AS depth2_role
		FROM 
		    menu m1
		LEFT JOIN 
		    menu m2 ON m1.menu_idx = m2.parent_idx AND m2.use_yn = 'Y'
		    AND m2.`depth` = 2
		WHERE 
		    m1.depth = 1
		AND 
		    m1.use_yn = 'Y'
		ORDER BY 
		    m1.menu_order, m2.menu_order
	</select>
	
</mapper>