<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.porkandspoon.dao.ManageDAO">
 
 <insert 
    useGeneratedKeys="true"
    keyColumn="part_idx"
    keyProperty="part_idx"
	id="setPartWrite" parameterType="Map">
	 	INSERT INTO part(name,birth,gender,is_quit,id,phone,pay,address,creater,join_date)
	 		VALUES(#{name},#{birth},#{gender},#{is_quit},#{id},#{phone},#{pay},#{address},#{creater},#{join_date})
 </insert> 
 
 <insert id="setPartTime" parameterType="Map">
 	INSERT INTO part_time(part_idx,work_date,start_time,end_time)
 		VALUES(#{part_idx},#{work_date},#{start_time},#{end_time})
 </insert> 
   
   <select id="partDetail" resultType="kr.co.porkandspoon.dto.ManageDTO">
   		select * from part where part_idx = #{part_idx}
   </select>
   
   <select id="scheduleDetail" resultType="kr.co.porkandspoon.dto.ManageDTO">
   		select * from part_time where part_idx = #{part_idx}
   </select>
   
   <update id="editPart" parameterType="Map">
	    UPDATE part
	    SET 
	        name = #{name},
	        birth = #{birth},
	        gender = #{gender},
	        is_quit = #{is_quit},
	        id = #{id},
	        phone = #{phone},
	        pay = #{pay},
	        address = #{address},
	        updater = #{updater},
	        join_date = #{join_date},
	        quit_date = CASE 
	                      WHEN #{is_quit} = 'Y' THEN NOW()
	                      ELSE quit_date
	                    END
	    WHERE part_idx = #{part_idx}
</update>

<delete id="deletePartTime" parameterType="String">
    DELETE FROM part_time WHERE part_idx = #{part_idx}
</delete>

   

</mapper>