<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.porkandspoon.dao.MealDAO">
	 <select id="getMealMenu" parameterType="String" resultType="kr.co.porkandspoon.dto.MealDTO">
        SELECT menu_idx, is_time, content, start_date, end_date
        FROM meal_menu
        WHERE is_time = #{is_time}
    </select>
</mapper>