<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>



<mapper namespace="kr.co.porkandspoon.dao.MealDAO">
	 
	 <select id="getUserInfo" parameterType="String" resultType="String">
	  	SELECT role from user where username = #{useranme} 
	 </select>
	 
	 <select id="getMealMenu" parameterType="String" resultType="kr.co.porkandspoon.dto.MealDTO">
        SELECT menu_idx, is_time, content, start_date, end_date
        FROM meal_menu
        WHERE is_time = #{is_time}
    </select>
    
    <insert id="setmealMenu" parameterType="Map">
    	INSERT INTO meal_menu(start_date,end_date,is_time,content,creater)
    		VALUES(#{start_date},#{end_date},#{is_time},#{content},#{creater})
    </insert>
    
    <update id="editmealMenu" parameterType="Map">
   	 UPDATE meal_menu
		    SET 
		        start_date = #{start_date},
		        end_date = #{end_date},
		        is_time = #{is_time},
		        content = #{content}
	    WHERE menu_idx = #{menu_idx}
    </update>
    
    <insert
	    useGeneratedKeys="true"
	     keyColumn="meal_idx"
	     keyProperty="meal_idx"
	     id="setmealTicket" parameterType="Map">
	    	INSERT INTO meal(name,cost,count,use_yn,creater,code_name)
	    		VALUES(#{name},#{cost},#{count},#{use_yn},#{creater},#{code_name})
    </insert>
    
    <select id="detailmealTicket" resultType="kr.co.porkandspoon.dto.MealDTO" >
    	SELECT meal_idx,name,cost,count,use_yn FROM meal WHERE meal_idx = #{meal_idx}
    </select>
    
    <update id="editmealTicket" parameterType="Map">
   	 UPDATE meal
		    SET 
		        name = #{name},
		        cost = #{cost},
		        count = #{count},
		        use_yn = #{use_yn},
		        updater = #{updater}
	    WHERE meal_idx = #{meal_idx}
    </update>
    
    <insert id="editmealFile" parameterType="kr.co.porkandspoon.dto.FileDTO">
    	UPDATE file
		    SET 
		    code_name = #{code_name},
		    ori_filename = #{ori_filename},
		    new_filename = #{new_filename},
		    type = #{type},
		    pk_idx = #{pk_idx}
		 WHERE pk_idx = #{pk_idx} and code_name = #{code_name}
    </insert>
    
    <select id="getFile" resultType="kr.co.porkandspoon.dto.FileDTO">
    	SELECT * FROM file WHERE pk_idx = #{meal_idx} AND code_name = 'MT001'
    </select>
    
    <insert id="setmealFile" parameterType="kr.co.porkandspoon.dto.FileDTO">
    	INSERT INTO file(code_name,ori_filename,new_filename,type,pk_idx)
    		VALUES(#{code_name},#{ori_filename},#{new_filename},#{type},#{pk_idx})
    </insert>
    
    
    <select id="getmealTicket" resultType="kr.co.porkandspoon.dto.MealDTO" >
    	SELECT * FROM meal WHERE use_yn = 'Y'
    </select>
    
    <select id="getmealList" resultType="kr.co.porkandspoon.dto.MealDTO" >
    	SELECT * FROM meal 
    </select>
    
   <select id="menuOverlay" resultType="int">
    SELECT COALESCE(menu_idx, 0) AS menu_idx
    FROM meal_menu
    WHERE start_date = #{start_date}
      AND end_date = #{end_date}
    LIMIT 1
</select>

<insert id="setmealbuy" parameterType="map">
	INSERT INTO meal_ticket(meal_idx,username,is_buy,count)
    		VALUES(#{meal_idx},#{username},#{is_buy},#{count})

</insert>

<select id="getTicketCount" parameterType="String" resultType="int">
SELECT 
    COALESCE(
        SUM(CASE WHEN is_buy = 'B' THEN count ELSE 0 END) - 
        SUM(CASE WHEN is_buy = 'U' THEN count ELSE 0 END), 
        0
    ) AS total_balance
FROM 
    meal_ticket
WHERE    
    username = #{username}

</select>


</mapper>