<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.porkandspoon.dao.TestDAO">

	<!-- 직원 id, pw 등록 -->
	<insert id="joinWrite" parameterType="kr.co.porkandspoon.dto.UserDTO">
		INSERT INTO user(username, password) VALUES(#{username}, #{password})
	</insert>
	
	<!-- 파일 작성 -->
	<insert id="fileWrite" parameterType="list">
	    INSERT INTO filetest (ori_filename, new_filename, type)
	    VALUES
	    <foreach collection="list" item="file" separator=",">
	        (#{file.ori_filename}, #{file.new_filename}, #{file.type})
	    </foreach>
	</insert>
	
	<!-- 캘린더 일정 작성 -->
	<insert id="scheduleWrite" parameterType="map">
		INSERT INTO schedulecalender(subject, start, end) VALUES(#{subject}, #{start}, #{end})
	</insert>
	
	<!-- 캘린더 데이터 조회 -->
	<select id="scheduleList">
		SELECT * FROM schedulecalender
	</select>
	
	<!-- 파일 데이터 조회 -->
	<select id="fileList" resultType="map">
		SELECT * FROM filetest
	</select>
	
	<!-- 조직도 데이터 조회 -->
	<select id="menu_tree" resultType="map">
        SELECT
            id,
            parent,
            text,
            type
        FROM
            department
    </select>
</mapper>